.flex-cont {
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

i {
    vertical-align: middle;
}

hr {
    margin: 0.5rem 0;
    width: 100%
}

.dotted {
    text-decoration: underline dotted;
}

/* MS CARD */
.ms_card {
    width: 100%;
    margin: 20px;
    border: 1px solid black;
}

.ms_card img {
    width: 100%;
    height: 100%;
    display: inline-block;
    object-fit: cover;
}
/* img cont */
.img-cont {
    width: 30%;
}

.ms_card_content {
    width: 70%;
    padding: 1rem;
}

/* info cont */
.info-cont {
    width: 35%;
    padding: 0;
    padding-right: 1rem;
}

.info-cont .logo {
    margin: 1rem auto;
}

.info-cont img {
    width: 40%;
}

.discount {
    color: darkred;
    text-decoration: line-through;
    font-weight: 400;
    margin-bottom: 0;
}

.info-cont button {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 15px;
}

.price > span {
    display: none;
}
/* pre-related */
.pre-related {
    display: none;
}
/* related cont */
.related-cont {
    width: 25%;
    padding: 1rem;
    padding-bottom: 0;
    border: 1px dashed grey;
    border-top: none;
    border-bottom: none;
}

.offers i {
    font-size: 0.7rem;
}

.offers-price {
    font-weight: 700;
}

.offers:first-child .offers-price {
    color: darkred;
}
/* review cont */
.review-cont {
    width: 40%;
    padding-top: 1rem;
    padding-left: 1rem;
}

.n-review {
    margin-bottom: 1rem;
}

.n-review > i {
    color: green;
    vertical-align: baseline;
}

@media screen and (max-width: 991px) {
    .ms_card {
        display: block;
    }

    .related-cont {
        display: none;
    }

    .img-cont {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .ms_card_content {
        width: 100%;
    }

    .review-cont {
        order: 1;
        width: 100%;
    }

    .info-cont {
        order: 2;
        width: 100%;
        padding-left: 1rem;
    }

    .logo {
        display: none;
    }

    .discount {
        font-size: 1rem;
    }

    .related-cont {
        order: 3;
    }

    .info-cont > .text-center {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .ms_button {
       width: 30%;
   }

    .ms_card_content > .flex-cont {
        flex-wrap: wrap;
    }

    .price {
        text-align: start;
    }

    .price > span {
        display: inline;
    }

    .pre-related {
        display: block;
        width: 100%;
        order: 4;
    }
}